/CODE/TV_STM32/OBJ/*.axf
/CODE/TV_STM32/OBJ/*.htm
/CODE/TV_STM32/OBJ/*.lnp
/CODE/TV_STM32/OBJ/*.sct
/CODE/TV_STM32/OBJ/*.dep
/CODE/TV_STM32/OBJ/*.crf
/CODE/TV_STM32/OBJ/*.d
/CODE/TV_STM32/OBJ/*.o
/CODE/TV_STM32/USER/*.map
/CODE/TV_STM32/USER/*.room
/CODE/TV_STM32/USER/*.lst
/CODE/STM32_GIT.si4project/Backup/*.c
/CODE/STM32_GIT.si4project/Backup/*.h
/CODE/STM32_GIT.si4project/*.xml
/CODE/STM32_GIT.si4project/*.sip_sym
/CODE/STM32_GIT.si4project/*.sip_xab
/CODE/STM32_GIT.si4project/*.sip_xad
/CODE/STM32_GIT.si4project/*.sip_xc
/CODE/STM32_GIT.si4project/*.sip_xf
/CODE/STM32_GIT.si4project/*.sip_xm
/CODE/STM32_GIT.si4project/*.sip_xr
/CODE/STM32_GIT.si4project/*.sip_xsb
/CODE/STM32_GIT.si4project/*.sip_xsd
/CODE/STM32_GIT.si4project/*.siproj
/CODE/STM32_GIT.si4project/*.siwork
/CODE/STM32_GIT.si4project/cache/parse/*.sisc
/CODE/TV_STM32.si4project/Backup/*.c
/CODE/TV_STM32.si4project/Backup/*.h
/CODE/TV_STM32.si4project/*.xml
/CODE/TV_STM32.si4project/*.sip_sym
/CODE/TV_STM32.si4project/*.sip_xab
/CODE/TV_STM32.si4project/*.sip_xad
/CODE/TV_STM32.si4project/*.sip_xc
/CODE/TV_STM32.si4project/*.sip_xf
/CODE/TV_STM32.si4project/*.sip_xm
/CODE/TV_STM32.si4project/*.sip_xr
/CODE/TV_STM32.si4project/*.sip_xsb
/CODE/TV_STM32.si4project/*.sip_xsd
/CODE/TV_STM32.si4project/*.siproj
/CODE/TV_STM32.si4project/*.siwork
/CODE/TV_STM32.si4project/cache/parse/*.sisc
/CODE/TV_STM32/OBJ/*.iex
/CODE/TV_STM32/OBJ/*.hex
/CODE/TV_STM32/USER/DebugConfig/*.dbgconf
/CODE/TV_STM32/USER/*.ini
/CODE/TV_STM32/USER/*.uvoptx
